body {
    font-family: Arial;
    background: #667eea;
    color: white;
}

.container {
    background: rgba(0,0,0,0.6);
    width: 350px;
    margin: 80px auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

input, button {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: none;
}

button {
    background: #ff7675;
    color: white;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.photo {
    background: white;
    color: black;
    margin: 6px;
    padding: 5px;
    border-radius: 8px;
}

.photo img {
    width: 120px;
    height: 120px;
    object-fit: cover;
}
